.card-header-image {
  background-image: url(https://www.github.com/gustavogss.png);
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.link {
  text-decoration: none;
  color: #000;
}

.home .title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.home .subtitle {
  font-size: 1rem;
}

.mat-card-content {
  text-align: left;
}

.image-github{
  width: 100px;
}

.mat-profile{
  margin-top: 1rem;
}

.mat-dev{
  margin-top: 1rem;
}

