<mat-card class="home mat-elevation-z2">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title
      ><a href="https://github.com/gustavogss" class="link"
        >Gustavo Souza</a
      ></mat-card-title
    >
    <mat-card-subtitle>Frontend developer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-title class="title">About Me</mat-card-title>
  <mat-card-subtitle class="subtitle">Let's connect!</mat-card-subtitle>
  <mat-card-content class="mat-card-content">
    <p>
      Fullstack Mobile Web Developer, loved about innovation and technology.
      I have a sense of team and very easy to work in a team,
      solve problems and build solutions
    </p>
    <a href="https://github.com/gustavogss" target="_blank">My GitHub</a>
  </mat-card-content>
</mat-card>
