<mat-card class="home mat-elevation-z2">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title class="mat-profile"
      ><a href="https://github.com/gustavogss" class="link"
        >Gustavo Souza</a
      >
    </mat-card-title>
    <mat-card-subtitle class="mat-dev">Fullstack Web Mobile Developer</mat-card-subtitle>

  </mat-card-header>
  <mat-card-title class="title">About Me</mat-card-title>
  <mat-card-subtitle class="subtitle">Let's connect!</mat-card-subtitle>
  <mat-card-content class="mat-card-content">
    <h2>
      Fullstack Web Mobile Developer loved about innovation and technology.
      I have a sense of team and very easy to work in a team,
      solve problems and build solutions
    </h2>
    <a href="https://github.com/gustavogss" target="_blank">
      <img
      src="https://i.pinimg.com/600x315/2c/b6/70/2cb670b6ddd8922a1c1b2fee4f6f758c.jpg"
      class="image-github"
      >

    </a>
  </mat-card-content>
</mat-card>
