.header{
  display: flex;
  align-items: center;
  background-color: #212121;
  height: 12vh;
   font-size: 2rem;
  color: #DAA520;
}

header a {
  text-decoration: none;
}

.logo{
  width: 4rem;
}

.title{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-left: 1rem;
  color: #DAA520;
}

.header span {
  opacity: .8;
  transition: .2s;
}

.header span:hover {
  opacity: 1;
}
